# EDA of the datasets

## Importing the datasets

In [21]:
import pandas as pd
import numpy as np

In [22]:
movie_path=r'data\movies.csv'
rating_path=r'data\ratings.csv'
movie_df=pd.read_csv(movie_path)
rating_df=pd.read_csv(rating_path)

In [23]:
movie_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [24]:
rating_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

## Checking Null Values

In [25]:
movie_null_sum = movie_df.isnull().sum()
print(movie_null_sum)

movieId    0
title      0
genres     0
dtype: int64

In [26]:
rating_null_sum=rating_df.isnull().sum()
print(rating_null_sum)

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

There aren't any null values in both datasets

## Checking the duplicates

In [27]:
duplicates_movies=movie_df.duplicated()
duplicates_movies.head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [28]:
duplicate_rows = movie_df[movie_df.duplicated()]
print(duplicate_rows)

Empty DataFrame
Columns: [movieId, title, genres]
Index: []

In [29]:
duplicate_ratings=rating_df.duplicated()
duplicate_ratings.head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [30]:
duplicate_rows = rating_df[rating_df.duplicated()]
print(duplicate_rows)

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

There are no duplicates